.floorplan {
    background-color: $light-gray;
}

.fp-app {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include grid-media($grid-large) {
        flex-direction: row;
    }

    &-sidebar {
        @include grid-column(12, $grid);
        @include grid-media($grid-small) {
            @include grid-column(6);
            @include grid-push(3);
        }
        @include grid-media($grid-large) {
            @include grid-column(5);
        }
        @include grid-media($grid-xlarge) {
            @include grid-column(3);
        }

        display: inline;
        margin: 0 $spacing $spacing*2 $spacing;
        border-top: 1px solid $brand-charcoal;

        .active{
            background-color: lighten($light-gray, 10%) !important;
        }

        &-item {
            padding: $spacing/2 $spacing;
            border-left: 1px solid $brand-charcoal;
            border-right: 1px solid $brand-charcoal;
            border-bottom: 1px solid $brand-charcoal;
            transition: all 300ms ease;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            justify-content: center;

            &:hover, &:focus{
                background-color: lighten($light-gray, 5%);
            }
  

            h5 {
                margin: 0;
            }
        }
        a {
            display: block;
            margin-top: $spacing/2;
            color: $brand-charcoal;
        }
    }
    &-content {
        @include grid-column(12, $grid);
        display: flex;
        flex-direction: column;
        padding: $spacing*2 0 $spacing 0;
        background-color: $white;
        min-height: 600px;

        @include grid-media($grid-medium) {
            flex-direction: row;
        }

        &-floorplan {
            @include grid-column(12, $grid);
            position: relative;
            min-height: 300px;

            @media only screen and (min-width: 450px) {
                min-height: 500px;
            }
            @include grid-media($grid-small) {
                min-height: 550px;
                padding-top: $spacing;
            }
            @include grid-media($grid-medium) {
                @include grid-column(6, $grid);
                min-height: none;
                padding-top: unset;
            }

            &-image {
                @include grid-column(12, $grid);
                position: absolute;
                margin-top: $spacing;
                cursor: zoom-in;
                transform-origin: 50% 50%;
                transition: all 600ms $ease;

                @include grid-media($grid-medium) {
                    margin-top: $spacing;
                    transform-origin: 100% 100%;
                }
                @include grid-media($grid-xlarge) {
                    transform-origin: 85% 100%;
                }

                &.expand {
                    cursor: zoom-out;
                    transform: scale(1.5);
                    z-index: 1000;

                    @include grid-media($grid-medium) {
                        transform: scale(2);
                    }
                }
            }
            &-unit {
                position: absolute;
                display: flex;
                width: 100%;
                bottom: -$spacing;
                margin: 0;
                padding: $spacing/2 $spacing;
                text-align: center;
                background-color: $white;
                border-radius: 1px;

                @include grid-media($grid-small) {
                    width: 70%;
                    left: 15%;
                    bottom: unset;
                    top: 0;
                }

                @include grid-media ($grid-medium) {
                    top: unset;
                    bottom: 0;
                }

                @include grid-media ($grid-xlarge) {
                    width: 50%;
                    left: 25%;
                    bottom: $spacing;
                }

                &-ctrl {
                    position: relative;
                    width: 20px; height: 20px;
                    top: 0;
                    cursor: pointer;

                    &:last-child img {
                        transform: rotate(180deg);
                    }

                    img {
                        width: 100%; height: 20px;
                    }
                }
                h6 {
                    width: 100%;
                    margin: 0;
                    padding: 0 $spacing/2;
                }
            }
        }
        &-copy {
            @include grid-column(12, $grid);
            @include grid-media($grid-medium) {
                @include grid-column(6, $grid);
            }



            .link-item {
                background: $white;
                
                transition: all 300ms 150ms $ease;
                border: 1px solid $white;
                @include responsive-font-size(type-scale(size1));
                color: $brand-gold;

                @include grid-media($grid-medium) {

                }

                button{
                    color: $brand-gold;
                    h6{
                        margin: 0;
                        padding: 0 0 0 $spacing;
                        line-height: 1.66em;
                    }
                    h6:before{
                        content: '+';
                        border: 1px solid $brand-gold;
                        position: absolute;
                        height: 1.66em; width: 1.66em;
                        line-height: 1.5em;
                        left: 0;
                        transition: all 300ms $ease;


                    }
                }
                ul{
                    display: none;
                    margin-left: 1em;
                    padding: 0 $spacing 0 $spacing;
                    list-style: none;
                    text-transform: none;
                    overflow: hidden;
                    transition: all 300ms 150ms $ease;
                    
                }
                
            }

            .expand{
                border: 1px solid $brand-gold;
                button{
                    h6:before{
                        border: 1px solid #ffffff00;
                        transform: rotate(135deg);
                        left: $spacing/2;
                    }
                }
                ul {
                    display: block;
                }

            }

           &-desc {
                display: block;
                min-height: 150px;

                @include grid-media($grid-medium) {
                    min-height: 100px;
                }
            }
            h2, h6 {
                margin-bottom: $spacing/2;
            }
            a {
                color: $brand-gold;
            }
        }
    }
}