/*
 * Webfonts
 *
 * This file contains all @font-face declarations, if any.
 *
 *****************************************************************************/


@font-face {
    font-family: 'press_gothicregular';
    src: url('../webfonts/pressgothic-webfont.woff2') format('woff2'),
         url('../webfonts/pressgothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'galano_grotesque_demobold';
    src: url('../webfonts/galanogrotesquedemo-bold-webfont.woff2') format('woff2'),
         url('../webfonts/galanogrotesquedemo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'univers-lt';
    src: url('../webfonts/univers-lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'univers-lt-black';
    src: url('../webfonts/univers-lt-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}